.info-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.9s ease;
  height: 40px;

  .info-icon {
    width: 40px;
    height: auto;
  }

  .info-label {
    background-color: #333334;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%) translateX(0);
    transition: opacity 0.9s ease, visibility 0.9s ease;
    z-index: 10;
    min-width: 150px;

    &
    .closing {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      animation-play-state: running;
      animation-direction: reverse;
    }

    &
    .visible {
      opacity: 1;
      visibility: visible;
      min-width: 210px;
      animation: growAnimation 0.5s forwards;

    }

    .info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;

      .close-icon {
        cursor: pointer;
        margin-left: 10px;
        font-size: 14px;
        color: #fff;

        &
        :hover {
          color: #ccc;
        }

      }
    }

    .info-content {
      font-size: 12px;
      max-height: 100px;

    }

  }

  &
  :hover .info-label {
    opacity: 1;
    visibility: visible;
  }

}
