<div class="container">

  <div class="canvas-container">
    <app-navbar></app-navbar>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
    <canvas #canvas>
    </canvas>
    <div
      *ngFor="let point of infoPoints"
      [id]="'infopoint-' + point.id"
      class="info-point"
      [class.open]="point.isOpen"
      (click)="onInfoPointClick(point, $event)"
    >
      <app-slide-icon [header]="point.header" [content]="point.content"></app-slide-icon>
    </div>
    <div
      *ngFor="let point of navigationPoints"
      [id]="'navigationpoint-' + point.id"
      class="info-point"
      (click)="onNavigationPointClick(point, $event)"
    >
      <app-navigation-icon [header]="point.header"></app-navigation-icon>
    </div>

  <app-footer></app-footer>
  </div>

  <app-sidenav (panoramaSelected)="loadPanorama($event)"></app-sidenav>

</div>
