<div class="carousel-container" [ngStyle]="{ 'max-width': maxWidth }">
  <!-- Main Image -->
  <div class="main-image">
    <img
      [src]="images[currentIndex]?.itemImageSrc"
      [alt]="images[currentIndex]?.alt"
      style="width: 100%;"
    />
  </div>

  <!-- Thumbnails -->
  <div class="thumbnails">
    <button class="nav-button prev" (click)="prev()" [disabled]="currentIndex === 0">
      <i>‹</i>
    </button>
    <div class="thumbnails-container">
      <div
        class="thumbnail"
        *ngFor="let item of displayImages; let idx = index"
        [class.active]="images.indexOf(item) === currentIndex"
        (click)="selectImage(images.indexOf(item))"
      >
        <img [src]="item.thumbnailImageSrc" [alt]="item.alt" />
      </div>
    </div>
    <button
      class="nav-button next"
      (click)="next()"
      [disabled]="currentIndex === images.length - 1"
    >
      ›
    </button>
  </div>
</div>
