.carousel-container {
  margin: 0 auto;
  .main-image {
    justify-content: center;
    display: flex;
    img {
      display: block;
      width: 50% !important;
      height: 100px !important;
      height: auto;
    }
  }

  .thumbnails {
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
    background-color: rgb(79 74 74 / 50%);

    .nav-button {
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      padding: 0 10px;
      color: #333;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .thumbnails-container {
      display: flex;
      overflow: hidden;
      flex: 1;
      height: 35px;

      .thumbnail {
        margin: 0 5px;
        cursor: pointer;
        border: 2px solid transparent;
        transition: border 0.3s;

        &.active {
          border-color: #007ad9;
        }

        img {
          display: block;
          width: 100px;
          height: auto;
        }
      }
    }
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .thumbnails-container .thumbnail img {
    width: 70px;
  }
}

@media (max-width: 560px) {
  .thumbnails-container .thumbnail img {
    width: 50px;
  }
}
